CompileFlags:
  CompilationDatabase: /home/cody/RAZ-RE/Firmware/keil-mdk/MDK-ARM/out/ReFlasher/RAZ
  Add:
    - >-
      -I/home/cody/.cache/arm/packs/NSING/N32G031_DFP/1.0.5/firmware/CMSIS/device
    - '-I/home/cody/RAZ-RE/Firmware/keil-mdk/MDK-ARM/../inc'
    - '-I/home/cody/RAZ-RE/Firmware/keil-mdk/MDK-ARM/../src'
    - '-I/home/cody/RAZ-RE/Firmware/keil-mdk/MDK-ARM/../firmware/CMSIS/core'
    - '-I/home/cody/RAZ-RE/Firmware/keil-mdk/MDK-ARM/../firmware/CMSIS/device'
    - >-
      -I/home/cody/RAZ-RE/Firmware/keil-mdk/MDK-ARM/../firmware/CMSIS/device/startup
    - >-
      -I/home/cody/RAZ-RE/Firmware/keil-mdk/MDK-ARM/../firmware/n32g031_std_periph_driver/inc
    - >-
      -I/home/cody/RAZ-RE/Firmware/keil-mdk/MDK-ARM/../firmware/n32g031_std_periph_driver/src
    - '-I/home/cody/RAZ-RE/Firmware/keil-mdk/MDK-ARM/tmp/ReFlasher+RAZ'
